
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#wrapper {
    display: grid;
    grid-auto-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

header {
    grid-column: 2 / -2;
    grid-row: 1 / 2;
}

header h1 {
    margin: 0;
}

nav {
    grid-column: 2 / -2;
    grid-row: 2 / 3;
}

#homehero, #studenthero, #facultyhero {
    grid-column: 2 / -2;
    grid-row: 3 / 4;
}

main {
    grid-column: 2 / -2;
    grid-row: 4 / 5;
    background: #ffffff;
}

footer {
    grid-column: 2 / -2;
    grid-row: 5 / 6;
}

header a {
    text-decoration: none;
    color: #FFFFFF;
}

main img {
    float: right;
    padding-left: 2rem;
}
